---
// src/components/BlogList.astro
import BlogPostCard from "@/components/BlogPostCard.astro";

import type { CollectionEntry } from "astro:content";

const { posts } = Astro.props as { posts: CollectionEntry<"blog">[] };

---

<section>
	<ul class="space-y-8">
		{posts.map((post) => (
			<BlogPostCard post={post} />
		))}
	</ul>
</section>
