---
import BlogPostCard from "@/components/blog/BlogPostCard.astro";
import {Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle} from "@/components/ui/card";

import type { CollectionEntry } from "astro:content";

const { posts, header, footer } = Astro.props as { posts: CollectionEntry<"blog">[], header: string, footer: any };

---

<section>
  <Card className="shadow-lg">
    <CardHeader><h4>{header ? header : null}</h4></CardHeader>
    <CardContent>
      <ul class="space-y-8">
        {posts.map((post) => (
          <BlogPostCard post={post} />
        ))}
      </ul>
    </CardContent>
    <CardFooter>
      <slot name="footer" />
    </CardFooter>

  </Card>
	
</section>
