---
import Page from "../layouts/Page.astro";
import Divider from "@/components/ui/divider";
import { getImageBySrcPath } from "@/lib/utils"; 
import { Image } from "astro:assets";
import frontImage from "@/assets/me.jpg"

const { frontmatter } = Astro.props;
---

<Page>
	<div class="container mx-auto px-4">
		<Image
			src={frontImage}
			alt="Me"
			width={600}
			format="webp"
			sizes="(min-width: 768px) 50vw, 100vw"
			class="mx-auto rounded-full w-full md:w-1/2"
		/>

		<br />
		<h1 class="text-center">{frontmatter.title}</h1>
		<br />
		<slot />
	</div>
</Page>
